{% extends 'layouts/base.html' %}


{% block content %}

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">account_box</i>Cadastrar usuário</div>
      <div class="collapsible-body"><span>
        Pera efetuar o cadastro de usuário é necessário informar alguns dados como nome, endereço de e-mail, cpf, telefone e senha.
      </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add_shopping_cart</i>Cadastrar produto</div>
      <div class="collapsible-body"><span>Para cadastrar um novo produto deve-se informar o nome do produto, uma descrição a respeito do mesmo, seu preço unitário, a quantidade em estoque e uma imagem que o indentifique.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">assistant</i>Cadastrar promoções</div>
      <div class="collapsible-body"><span>
        Para efetuar o cadastro de uma nova promoção é necessário informar nome, uma descrição para a mesma, valor e uma imagem(banner) para divulgação.
      </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">shopping_cart</i>Pedidos</div>
      <div class="collapsible-body"><span>
        A definir
      </span></div>
    </li>

  </ul>

{% endblock %}


