{% extends 'layouts/base.html' %}

{% block after-styles-end %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
<div class="col s4 m4">
  <div class="card horizontal">
    <div class="card-image">
      <div class="center-align green" style="padding: 15px">
        <i class="medium material-icons" style="color: white">add_alert</i>
      </div>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Pedidos</p>
        <p>0</p>
      </div>
    </div>
  </div>
</div>

<div class="col s4 m4">
  <div class="card horizontal">
    <div class="card-image">
      <div class="center-align blue" style="padding: 15px">
        <i class="medium material-icons" style="color: white">comment</i>
      </div>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Clientes</p>
        <p>{{ clients }}</p>
      </div>
    </div>
  </div>
</div>

<div class="col s4 m4">
  <div class="card horizontal">
    <div class="card-image">
      <div class="center-align grey" style="padding: 15px">
        <i class="medium material-icons" style="color: white">developer_board</i>
      </div>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Produtos</p>
        <p>{{ products }}</p>
      </div>
    </div>
  </div>
</div>




 <div class="col s12">
 <div class="card-panel valign-wrapper white-text" style="background-color: #ff8c1a">   
    
    <div class="card-image">
      <div class="center-align" style="padding: 10px">
        <i class="medium material-icons" style="color: white">donut_large</i>
      </div>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p style="padding: 0px; margin: 0px">Pedidos hoje</p>
        <p style="padding: 0px; margin: 0px; font-size: 23px">0</p>
      </div>
    </div>
    <div class="col s9">
      <canvas id="line-chart"  height="150"></canvas>
    </div>

  </div>
</div>
</div>

{% endblock %}


{% block after-scripts-end %}

<script type="text/javascript">
  var ctx = $("#line-chart");
  var lineChart = new Chart(ctx, {
    type: 'line',
    options: {
     legend: { 
        display: false,
         labels: {
                fontColor: "white",
            }
      },
        scales: {
            yAxes: [{
                ticks: {
                    fontColor: "white",
                }
            }],
            xAxes: [{
                ticks: {
                    fontColor: "white",
                }
            }]
        }
    },
    data: {
      labels: ["DOM", "SEG", "TER", "QUA", "QUI", "SEX", "SAB"],
      datasets: [
        {
          //label: "2015",
          data: [0, 10, 04, 10, 40,  3, 0],
          backgroundColor: 'rgba(255, 255, 255, 0.4)'
        }
      ]
    }
  });
 </script>
<script>
{% endblock %}