{% extends 'layouts/base.html' %}


{% block content %}

<div class="col s12 m12">
  <div class="card">
    <div class="card-content">

      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Grupos</th>
            <th class="center-align">Status</th>
            <th>Data de cadastro</th>
            <th class="center-align">Ação</th>
          </tr>
        </thead>

        <tbody>
          {% if users %}
          
          {% for user in users %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
               <div style="font-size:.8em">
                 
               </div>
            </td>
            <td width="30" >
            	{% if user.is_active %}
                <span class="new badge green" style="margin-right: 30px" data-badge-caption="Ativo"></span>
                {% else %}
                <span class="new badge red" style="margin-right: 30px"  data-badge-caption="Inativo"></span>
                {% endif %} 

            </td>

            <td></td>
            <td width="140" class="center-align">
            	
                <a href="{% url 'accounts:user_show' user.id %}">
                    <i class="small material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Mostrar" style="margin-right: 10px; color: green">visibility</i>
              	</a>
                  <a href="{% url 'accounts:user_update' user.id %}">
                      <i class="small material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Editar" style="margin-right: 10px">edit</i>
                  </a>
            </td>
          </tr>
          {% endfor %}
          {% else %}
 			    <tr>
                <td class="center-align" colspan="6"><br>Lista de usuários vazia!</td>
            </tr>
    	  {% endif %} 
           
        </tbody>
      </table>

    </div>
  </div>
</div>  

<div class="fixed-action-btn">
	<a href="{% url 'accounts:user_create' %}" class="btn-floating btn-large">
		<i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Cadastrar Usuário">add</i>
	</a>
</div>
{% endblock %}


