{% extends 'layouts/base.html' %}


{% block content %}
<div class="col s12">

	{% if request.resolver_match.url_name == 'ShowClient' %}

	<h4>Ver Cliente</h4>

	{% elif request.resolver_match.url_name == 'CreateClient' %}

	<h4>Cadastrar Cliente</h4>

	{% elif request.resolver_match.url_name == 'UpdateClient' %}

	<h4>Atualizar Cliente</h4>

	{% endif %}
	<div class="card">
		<div class="card-content">
			<form action="#" method="POST">
				{% csrf_token %}

				<div class="row">
					<div class="input-field col s4">
						<label for="#{{ form.cliente.id_for_label }}">{{ form.cliente.label }}</label>
						{{ form.cliente }}
					</div>
					<div class="input-field col s8">
						<label for="#{{ form.email.id_for_label }}">{{ form.email.label }}</label>
						{{ form.email }}

					</div>
					<div class="input-field col s2">
						<label for="#{{ form.cpf.id_for_label }}">{{ form.cpf.label }}</label>
						{{ form.cpf }}
					</div>
					<div class="input-field col s2">
						<label for="#{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
						{{ form.phone }}
					</div>
					<div class="input-field col s8">
						<label for="#{{ form.senha.id_for_label }}">{{ form.senha.label }}</label>
						{{ form.senha }}
					</div>


				{% if request.resolver_match.url_name == 'ShowClient' %}

				<div class="col s12 right-align">
					 <a href="{% url 'clients:UpdateClient' object.id %}"class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Editar
					</a>
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Voltar
					</button>
				</div>

				{% elif request.resolver_match.url_name == 'CreateClient' %}

				<div class="col s12 right-align">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Cadastrar
					</button>
				</div>

				{% elif request.resolver_match.url_name == 'UpdateClient' %}

				<div class="col s12 right-align">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Atualizar
					</button>
				</div>

				{% endif %}


			</form>
		</div>
	</div>
</div>
{% endblock %}