{% extends 'layouts/base.html' %}


{% block content %}

<div class="col s12 m12">
  <div class="card">
    <div class="card-content">

      <table>
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Phone</th>
            <th>Endereço</th>
            <th> </th>
            <th class="center-align">Ação</th>
          </tr>
        </thead>

        <tbody>
          {% if clients %}
          
          {% for client in clients %}
          <tr>
            <td>{{ client.cliente }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.cpf }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.senha }}</td>


            <td></td>
            <td width="140" class="center-align">
            	
                <a href="{% url 'clients:ShowClient' client.id %}">
                    <i class="small material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Mostrar" style="margin-right: 10px; color: green">visibility</i>
              	</a>
                  <a href="{% url 'clients:UpdateClient' client.id %}">
                      <i class="small material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Editar" style="margin-right: 10px">edit</i>
                  </a>
            </td>
          </tr>
          {% endfor %}
          {% else %}
 			    <tr>
                <td class="center-align" colspan="6"><br>Lista de clientes vazia!</td>
            </tr>
    	  {% endif %} 
           
        </tbody>
      </table>

    </div>
  </div>
</div>  

<div class="fixed-action-btn">
	<a href="{% url 'clients:CreateClient' %}" class="btn-floating btn-large">
		<i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Cadastrar Cliente">add</i>
	</a>
</div>
{% endblock %}


