<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>ToDelivery</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="http://materializecss.com/dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="http://materializecss.com/templates/starter-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-red lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'index' %}" class="brand-logo">ToDelivery</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="login">Login</a></li>
        <li><a href="contact">Contato</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="login">Login</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Seu Delivery</h1>
      <div class="row center">
        <h5 class="header col s12 light">Sistema Delivery que satisfaz os seus sentidos!</h5>
      </div>
      <div class="row center">
        <a href="#footer" id="download-button" class="btn-large waves-effect waves-light orange">contato</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">PLATAFORMA</h5>

            <p class="light">Gerencie pedidos com um moderno sistema para delivery.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">ECONOMIA</h5>

            <p class="light">Não cobramos comissão por pedido. Por apenas um valor fixo por mês você terá sua própria ferramenta de delivery com pedidos ilimitados.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">PROMOCÕES</h5>

            <p class="light">Aumente seus pedidos com promoções pontuais, permanentes ou cortesias.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer red" id="footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Bio</h5>
          <p class="grey-text text-lighten-4">Desejamos ser o melhor sistema de gerenciamento para delivery, inovando em teconologias aproveitando o maximo da usuabiliade e estaticas em gestao de pedidos.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="#!">contato@todelivery.com.br</a></li>
            <li><a class="white-text" href="#!">Face: /todelivery</a></li>
            <li><a class="white-text" href="#!">Instagram: @todelivery</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contatos</h5>
          <ul>
            <li><a class="white-text" href="#!">89 9 9923 - 2345</a></li>
            <li><a class="white-text" href="#!">89 9 9924 - 2159</a></li>
            <li><a class="white-text" href="#!">89 9 9433 - 5745</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Todos os direitos reservados <a class="orange-text text-lighten-3" href="#">ToDelivery</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="http://materializecss.com/bin/materialize.js"></script>
  <script src="http://materializecss.com/templates/starter-template/js/init.js"></script>

  </body>
</html>
