{% extends 'layouts/base.html' %}


{% block content %}
<div class="col s12">

	{% if request.resolver_match.url_name == 'user_profile' %}

	<h4>Meu Perfil</h4>

	{% endif %}
	<div class="card">
		<div class="card-content">
			<form action="#" method="POST">
				{% csrf_token %}

				<div class="row">
					<div class="input-field col s8">
						<label for="#{{ form.name.id_for_label }}">{{ form.name.label }}</label>
						{{ form.name }}
					</div>
					<div class="input-field col s4">
						<label for="#{{ form.email.id_for_label }}">{{ form.email.label }}</label>
						{{ form.email }}
					</div>

					<div class="input-field col s2">
						<label for="#{{ address_form.state.id_for_label }}">{{ address_form.state.label }}</label>
						{{ address_form.state }}
					</div>
					<div class="input-field col s3">
						<label for="#{{ address_form.city.id_for_label }}">{{ address_form.city.label }}</label>
						{{ address_form.city }}
					</div>
					<div class="input-field col s3">
						<label for="#{{ address_form.city.id_for_label }}">{{ address_form.zip_code.label }}</label>
						{{ address_form.zip_code }}
					</div>

					<div class="input-field col s4">	
						<label for="#{{ address_form.street.id_for_label }}">{{ address_form.street.label }}</label>
						{{ address_form.street }}
					</div>

					<div class="input-field col s4">	
						<label for="#{{ address_form.neighborhood.id_for_label }}">{{ address_form.neighborhood.label }}</label>
						{{ address_form.neighborhood }}
					</div>
					<div class="input-field col s8">	
						<label for="#{{ address_form.neighborhood.id_for_label }}">{{ address_form.complement.label }}</label>
						{{ address_form.complement }}
					</div>


					<div class="input-field col s5">
						<label for="#{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
						{{ form.password1 }}
					</div>
					<div class="input-field col s5">
						<label for="#{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
						{{ form.password2 }}
						{{ form.password2.errors }}
					</div>
					<div class="input-field col s2" style="margin-top: 30px">

						<p>
							<label>
								{{ form.is_active }}
								<span>{{ form.is_active.label }}</span>
							</label>
						</p>
					</div>
				</div>

				{% if request.resolver_match.url_name == 'user_profile' %}

				<div class="col s12 right-align">
					<button type="submit" class="btn btn-primary"  value="Update">
						<i class="fa fa-btn fa-sign-in"></i> Atualizar
					</button>
				</div>

				{% endif %}


			</form>
		</div>
	</div>


	<h4>Atualizar Senha</h4>
	<div class="card">
		<div class="card-content">
			<form action="{% url 'accounts:change_password' %}" method="POST">
				{% csrf_token %}

				<div class="row">
					<div class="input-field col s4">
						<label for="#{{ form.old_password.id_for_label }}">Senha atual</label>
						{{ form_pass.old_password }}
					</div>
					<div class="input-field col s4">
						<label for="#{{ form.new_password1.id_for_label }}">Nova Senha</label>
						{{ form_pass.new_password1 }}
						{{ form_pass.new_password1.errors }}
					</div>

					<div class="input-field col s4">
						<label for="#{{ form.new_password2.id_for_label }}">Repetir Nova Senha</label>
						{{ form_pass.new_password2 }}
						{{ form_pass.new_password2.errors }}
					</div>
				</div>

				{% if messages %}
				<ul class="messages">
				    {% for message in messages %}
				    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				    {% endfor %}
				</ul>
				{% endif %}
				<div class="col s12 right-align">
					<button type="submit" class="btn btn-primary"  value="Update">
						<i class="fa fa-btn fa-sign-in"></i> Atualizar
					</button>
				</div>
			</form>
		</div>
	</div>

</div>
{% endblock %}