{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Sistema Delivery" />
    <meta name="keywords" content="Pedidos, gerenciamento de pedidos delivery" />
    <meta name="author" content="ToDelivery" />
  
  <title>To Delivery</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link rel="stylesheet" href="https://materializecss.com/css/ghpages-materialize.css"/>

  {% block after-styles-end %}
        
  {% endblock %}
</head>

<body class="brown lighten-5">

<div class="navbar-fixed">
  <nav role="navigation">
      <div class="nav-wrapper container">
      {% include "layouts/header.html" %}
      </div>
  </nav>
</div>
<div class="container">
    <div class="section">
        {% block content %}{% endblock %}
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
<script src="{% static 'materialize/js/materialize.min.js' %}"></script>
<script type="text/javascript">
 $(document).ready(function() {
  //$('select').prop('multiple','multiple'); 
  $('select').material_select();
    
  });
</script>
{% block after-scripts-end %}
        
{% endblock %}
   

</body>
</html>