﻿<a id="logo-container" href="{% url 'dashboard' %}" class="brand-logo">ToDelivery</a>
<ul class="right hide-on-med-and-down">

  {% if request.user.is_authenticated %}
    <ul id="dropdown-app" class="dropdown-content">
      <li><a href="#">Meus Pedidos</a></li> 

    </ul>

    <li><a href="{% url 'requests:requests' %}"><i class="material-icons left">local_dining</i>Pedidos</a></li>

    <ul id="dropdown-gerencia" class="dropdown-content">
      <li><a href="{% url 'clients:clients' %}">Clientes</a></li>
      <li><a href="{% url 'products:products' %}">Produtos</a></li>
      <li><a href="{% url 'promotions:promotions' %}">Promoções</a></li>
      <li><a href="{% url 'categories:categories' %}">Categorias</a></li>
    </ul>
    <li><a class="dropdown-button" data-activates="dropdown-gerencia"><i class="material-icons left">settings</i> Gerenciar<i class="material-icons right">arrow_drop_down</i></a></li>


    <ul id="dropdown1" class="dropdown-content">
      <li><a href="{% url 'dashboard' %}">Painel de Controle</a></li>
      <li><a href="{% url 'accounts:user_profile' %}">Definições de usuário</a></li>
      <li><a href="{% url 'accounts:users' %}">Gerenciar Usuários</a></li>
      <li><a href="{% url 'help' %}">Ajuda</a></li>

      <li class="divider"></li>
      <li><a href="{% url 'logout' %}"><i class="material-icons left">input</i>Sair</a></li>
    </ul>
    <li><a class="dropdown-button" data-activates="dropdown1"><i class="material-icons left">perm_identity</i>{{ request.user.name }}<i class="material-icons right">arrow_drop_down</i></a></li>

  {% else %}

  <li><a href="{% url 'login' %}">Login</a></li>
  <li><a href="{% url 'contact' %}">Contato</a></li>

  {% endif %}
</ul>
