{% extends 'layouts/base.html' %}


{% block content %}
<div class="col s12">

	{% if request.resolver_match.url_name == 'ShowCategories' %}

	<h4>Ver Categoria</h4>

	{% elif request.resolver_match.url_name == 'CreateCategories' %}

	<h4>Cadastrar Categoria</h4>

	{% elif request.resolver_match.url_name == 'UpdateCategories' %}

	<h4>Atualizar Categoria</h4>

	{% endif %}
	<div class="card">
		<div class="card-content">
			<form action="#" method="POST">
				{% csrf_token %}

				<div class="row">
					<div class="input-field col s4">
						<label for="#{{ form.produto.id_for_label }}">{{ form.categoria.label }}</label>
						{{ form.categoria }}
					</div>
					<div class="input-field col s8">
						<label for="#{{ form.descricao_produto.id_for_label }}">{{ form.descricao.label }}</label>
						{{ form.descricao }}

					</div>
<!--
					<div class="input-field col s2">
						<label for="#{{ address_form.state.id_for_label }}">{{ address_form.state.label }}</label>
						{{ address_form.state }}
					</div>
					<div class="input-field col s3">
						<label for="#{{ address_form.city.id_for_label }}">{{ address_form.city.label }}</label>
						{{ address_form.city }}
					</div>
					<div class="input-field col s3">
						<label for="#{{ address_form.city.id_for_label }}">{{ address_form.zip_code.label }}</label>
						{{ address_form.zip_code }}
					</div>

					<div class="input-field col s4">	
						<label for="#{{ address_form.street.id_for_label }}">{{ address_form.street.label }}</label>
						{{ address_form.street }}
					</div>

					<div class="input-field col s4">	
						<label for="#{{ address_form.neighborhood.id_for_label }}">{{ address_form.neighborhood.label }}</label>
						{{ address_form.neighborhood }}
					</div>
					<div class="input-field col s8">	
						<label for="#{{ address_form.neighborhood.id_for_label }}">{{ address_form.complement.label }}</label>
						{{ address_form.complement }}
					</div>


					<div class="input-field col s5">
						<label for="#{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
						{{ form.password1 }}
					</div>
					<div class="input-field col s5">
						<label for="#{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
						{{ form.password2 }}
						{{ form.password2.errors }}
					</div>
					<div class="input-field col s2" style="margin-top: 30px">

						<p>
							<label>
								{{ form.is_active }}
								<span>{{ form.is_active.label }}</span>
							</label>
						</p>
					</div>
				</div>
!-->

				{% if request.resolver_match.url_name == 'ShowCategories' %}

				<div class="col s12 right-align">
					 <a href="{% url 'products:UpdateCategories' object.id %}"class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Editar
					</a>
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Voltar
					</button>
				</div>

				{% elif request.resolver_match.url_name == 'CreateCategories' %}

				<div class="col s12 right-align">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Cadastrar
					</button>
				</div>

				{% elif request.resolver_match.url_name == 'UpdateCategories' %}

				<div class="col s12 right-align">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Atualizar
					</button>
				</div>

				{% endif %}


			</form>
		</div>
	</div>
</div>
{% endblock %}