{% extends 'layouts/base.html' %}


{% block content %}

<div class="col s12 m12">
  <div class="card">
    <div class="card-content">

      <table>
        <thead>
          <tr>
            <th>Categoria</th>
            <th>Descrição</th>
            <th> </th>
            <th class="center-align">Ação</th>
          </tr>
        </thead>

        <tbody>
          {% if categories %}
          
          {% for categorie in categories %}
          <tr>
            <td>{{ categorie.categoria }}</td>
            <td>{{ categorie.descricao }}</td>
            <!--td>
               <div style="font-size:.8em">
                 
               </div>
            </td!-->

            <td></td>
            <td width="140" class="center-align">
            	
                <a href="{% url 'categories:ShowCategories' categorie.id %}">
                    <i class="small material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Mostrar" style="margin-right: 10px; color: green">visibility</i>
              	</a>
                  <a href="{% url 'categories:UpdateCategories' categorie.id %}">
                      <i class="small material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Editar" style="margin-right: 10px">edit</i>
                  </a>
            </td>
          </tr>
          {% endfor %}
          {% else %}
 			    <tr>
                  <td class="center-align" colspan="6"><br>Nenhuma categoria cadastrada!</td>
                </tr>
    	  {% endif %} 
           
        </tbody>
      </table>

    </div>
  </div>
</div>  

<div class="fixed-action-btn">
	<a href="criar/" class="btn-floating btn-large">
		<i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Cadastrar Categoria">add</i>
	</a>
  	<!--ul>
		<li><a href="#" class="btn-floating green"><i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Gerenciar Categorias">note</i></a></li>
        <li><a href="#" class="btn-floating blue"><i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Cadastrar Produto">add</i></a></li>
	</ul!-->
</div>
{% endblock %}


