{% extends 'layouts/base.html' %}
{% block content %}
<div class="col s12">

	{% if request.resolver_match.url_name == 'ShowPromotions' %}

	<h4>Ver Promoções </h4>

	{% elif request.resolver_match.url_name == 'CreatePromotions' %}

	<h4>Cadastrar Promoção</h4>

	{% elif request.resolver_match.url_name == 'UpdatePromotions' %}

	<h4>Atualizar Promoção </h4>

	{% endif %}
	<div class="card">
		<div class="card-content">
			<form action="#" method="POST" enctype="multipart/form-data">
				{% csrf_token %}

				<div class="row">

					<div class="input-field col s4">
						<label class="active" for="#{{ form.produto.id_for_label }}">{{ form.produto.label }}</label>
						{{ form.produto }}
					</div>

					<div class="input-field col s4">
						<label for="#{{ form.promocao.id_for_label }}">{{ form.promocao.label }}</label>
						{{ form.promocao }}
					</div>
					<div class="input-field col s8">
						<label for="#{{ form.descricao_promocao.id_for_label }}">{{ form.descricao_promocao.label }}</label>
						{{ form.descricao_promocao }}

					</div>
					<div class="input-field col s2">
						<label for="#{{ form.preco.id_for_label }}">{{ form.preco.label }}</label>
						{{ form.preco }}
					</div>
					<div class="input-field col s8">
						<label for="#{{ form.imagem.id_for_label }}"></label>
						{{ form.imagem }}
					</div>
<!--
					<div class="input-field col s2">
						<label for="#{{ address_form.state.id_for_label }}">{{ address_form.state.label }}</label>
						{{ address_form.state }}
					</div>
					<div class="input-field col s3">
						<label for="#{{ address_form.city.id_for_label }}">{{ address_form.city.label }}</label>
						{{ address_form.city }}
					</div>
					<div class="input-field col s3">
						<label for="#{{ address_form.city.id_for_label }}">{{ address_form.zip_code.label }}</label>
						{{ address_form.zip_code }}
					</div>

					<div class="input-field col s4">	
						<label for="#{{ address_form.street.id_for_label }}">{{ address_form.street.label }}</label>
						{{ address_form.street }}
					</div>

					<div class="input-field col s4">	
						<label for="#{{ address_form.neighborhood.id_for_label }}">{{ address_form.neighborhood.label }}</label>
						{{ address_form.neighborhood }}
					</div>
					<div class="input-field col s8">	
						<label for="#{{ address_form.neighborhood.id_for_label }}">{{ address_form.complement.label }}</label>
						{{ address_form.complement }}
					</difrom __future__ import unicode_literalsv>


					<div class="input-field col s5">
						<label for="#{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
						{{ form.password1 }}
					</div>
					<div class="input-field col s5">
						<label for="#{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
						{{ form.password2 }}
						{{ form.password2.errors }}
					</div>
					<div class="input-field col s2" style="margin-top: 30px">

						<p>
							<label>
								{{ form.is_active }}
								<span>{{ form.is_active.label }}</span>
							</label>
						</p>
					</div>
				</div>
!-->

				{% if request.resolver_match.url_name == 'ShowPromotions' %}

				<div class="col s12 right-align">
					 <a href="{% url 'products:UpdateProduct' object.id %}"class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Editar
					</a>
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Voltar
					</button>
				</div>

				{% elif request.resolver_match.url_name == 'CreatePromotions' %}

				<div class="col s12 right-align">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Cadastrar
					</button>
				</div>

				{% elif request.resolver_match.url_name == 'UpdatePromotions' %}

				<div class="col s12 right-align">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Atualizar
					</button>
				</div>

				{% endif %}


			</form>
		</div>
	</div>
</div>
{% endblock %}