{% extends 'layouts/base.html' %}

{% load staticfiles %}

{% block content %}

<div class="col s12 m12">
  <div class="card">
    <div class="card-content">

      <table>
        <thead>
          <tr>
            <th>Imagem</th>
            <th>Promoção</th>
            <th>Descrição da Promoção</th>
            <th>Preço</th>
            <th> </th>
            <th class="center-align">Ação</th>
          </tr>
        </thead>

        <tbody>
          {% if promotions %}
          
              {% for promotion in promotions %}
              <tr>
                  <td><img width="60%" class="responsive-img" src="/media/{{ promotion.imagem }}"></td>
                <td>{{ promotion.promocao }}</td>
                <td>{{ promotion.descricao_promocao }}</td>
                <td>{{ promotion.preco }}</td>
                
                <!--td>
                   <div style="font-size:.8em">

                   </div>
                </td!-->

                <td></td>
                <td width="140" class="center-align">

                    <a href="{% url 'promotions:ShowPromotions' promotion.id %}">
                        <i class="small material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Mostrar" style="margin-right: 10px; color: green">visibility</i>
                    </a>
                      <a href="{% url 'promotions:UpdatePromotions' promotion.id %}">
                          <i class="small material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Editar" style="margin-right: 10px">edit</i>
                      </a>
                </td>
              </tr>
              {% endfor %}
          {% else %}
 			    <tr>
                <td class="center-align" colspan="6"><br>Lista de promoções vazia!</td>
            </tr>
    	  {% endif %} 
           
        </tbody>
      </table>

    </div>
  </div>
</div>  

<div class="fixed-action-btn">
	<a href="{% url 'promotions:CreatePromotions' %}" class="btn-floating btn-large">
		<i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Cadastrar Promoção">add</i>
	</a>
  	<ul>
		<li><a href="#" class="btn-floating green"><i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Gerenciar Categorias">note</i></a></li>

	</ul>
</div>
{% endblock %}