{% extends 'layouts/base.html' %}


{% block content %}
<div class="col s12">

	{% if request.resolver_match.url_name == 'ShowRequest' %}

	<h4>Ver Pedido</h4>

	{% elif request.resolver_match.url_name == 'CreateRequest' %}

	<h4>Cadastrar Pedido</h4>

	{% elif request.resolver_match.url_name == 'UpdateRequest' %}

	<h4>Atualizar Pedido</h4>

	{% endif %}
	<div class="card">
		<div class="card-content">
			<form action="#" method="POST">
				{% csrf_token %}

				<div class="row">
					<div class="input-field col s4">
						<label for="#{{ form.descricao.id_for_label }}">{{ form.descricao.label }}</label>
						{{ form.descricao }}
					</div>
					<div class="input-field col s8">
						<label for="#{{ form.preco.id_for_label }}">{{ form.preco.label }}</label>
						{{ form.preco }}

					</div>
					<div class="input-field col s2">
						<label class="active"  for="#{{ form.status.id_for_label }}">{{ form.status.label }}</label>
						{{ form.status }}
					</div>

					<div class="input-field col s2">
						<label for="#{{ form.data.id_for_label }}">{{ form.data.label }}</label>
						{{ form.data }}
					</div>

					<div class="input-field col s4">
						<label class="active" for="#{{ form.cliente.id_for_label }}">{{ form.cliente.label }}</label>
						{{ form.cliente }}
					</div>

					<div class="input-field col s4">
						<label  class="active" for="#{{ form.produtos.id_for_label }}">{{ form.produtos.label }}</label>
						{{ form.produtos }}
					</div>

				{% if request.resolver_match.url_name == 'ShowRequest' %}

				<div class="col s12 right-align">
					 <a href="{% url 'requests:UpdateRequest' object.id %}"class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Editar
					</a>
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Voltar
					</button>
				</div>

				{% elif request.resolver_match.url_name == 'CreateRequest' %}

				<div class="col s12 right-align">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Cadastrar
					</button>
				</div>

				{% elif request.resolver_match.url_name == 'UpdateRequest' %}

				<div class="col s12 right-align">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-btn fa-sign-in"></i> Atualizar
					</button>
				</div>

				{% endif %}

				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}