{% extends 'layouts/base.html' %}


{% block content %}

<div class="col s12 m12">
  <div class="card">
    <div class="card-content">

      <table>
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Data</th>
            <th>Cliente</th>
            <th>Produtos</th>
            <th>Status</th>
            <th class="center-align">Ação</th>
          </tr>
        </thead>

        <tbody>
          {% if requests %}
          
          {% for request in requests %}
          <tr>
            <td>{{ request.descricao }}</td>
            <td>{{ request.preco }}</td>
            <td>{{ request.data }}</td>
            <td>{{ request.cliente }}</td>
            <td>
              {{ request.produtos.all |join:", "  }}
            </td>
            <td>
               {% if request.status == 1 %}
                   <span class="new badge amber" data-badge-caption="Pendente"></span>
               {% elif request.status == 2 %}
                    <span class="new badge green" data-badge-caption="Entregue"></span>
               {% elif request.status == 3 %}
                      <span class="new badge cyan" data-badge-caption="A caminho"></span>
               {% elif request.status == 4 %}
                          <span class="new badge red" data-badge-caption="Cancelado"></span>
               {% endif%}
            </td>
            <td width="140" class="center-align">
            	
                <a href="{% url 'requests:ShowRequest' request.id %}">
                    <i class="small material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Mostrar" style="margin-right: 10px; color: green">visibility</i>
              	</a>
                  <a href="{% url 'requests:UpdateRequest' request.id %}">
                      <i class="small material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Editar" style="margin-right: 10px">edit</i>
                  </a>
            </td>
          </tr>
          {% endfor %}
          {% else %}
 			    <tr>
                <td class="center-align" colspan="6"><br>Lista de pedidos vazia!</td>
            </tr>
    	  {% endif %} 
           
        </tbody>
      </table>

    </div>
  </div>
</div>  

<div class="fixed-action-btn">
	<a href="{% url 'requests:CreateRequest' %}" class="btn-floating btn-large">
		<i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Cadastrar Pedido">add</i>
	</a>
</div>
{% endblock %}


