{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
    <!--
    <meta name="description" content="App base" />
    <meta name="keywords" content=" caheves" />
    <meta name="author" content="Rádio Moderna" />
  -->
  <!--Import Google Icon Font-->
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="http://materializecss.com/dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="http://materializecss.com/templates/starter-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="brown lighten-5">
  <div class="container">
    <div class="row">
      <br><br><br><br>
      <div class="col s12">
        <div class="col s3"></div>
        <div class="col s6">
          <div class="card">
            <div class="card-content">
              <div class="col s12 center-align">
                <img src="{% static 'imgs/logo_white.jpg' %}" class="center-align" width="180">
              </div>
              <form class="form-horizontal" role="form" method="POST">
               {% csrf_token %}
               {{ form.as_p }}
               
               <!--
               <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" name="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="id_password" type="password" class="form-control" name="password">
                  <label for="password" class="col-md-4 control-label">Senha</label>
                </div>
              </div>
            -->

              <div class="form-group">
                <div class="col md 6">
                  <div class="checkbox">
                   <p>
                    <label>
                      <input type="checkbox" class="filled-in" checked="checked" />
                      <span>Relembrar Login</span>
                    </label>
                  </p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 col-md-offset-4 right-align">
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-btn fa-sign-in"></i> Login
                </button>
                <br><br>
                <a href="#">Recuperar Acesso</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s3"></div>
  </div>
</div>
</div>
<!--Import jQuery before materialize.js-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>